<div class="recommendation-container">
  <h3>Need a team player?</h3>
  <h4>What my colleagues say about me</h4>

  <div class="testimonial-container">
    <div class="testimonial-unit">
      <div class="testimonial-name">
        <h5>Name</h5>
        <span class="a">project</span>
      </div>
      <p>
        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis eveniet
        vel ipsum, ratione alias repudiandae quod, consequuntur asperiores
        temporibus ?""
      </p>
    </div>
    <div class="testimonial-unit">
      <div class="testimonial-name">
        <h5>Name</h5>
        <span>project</span>
      </div>
      <p>
        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis eveniet
        vel ipsum, ratione alias repudiandae quod, consequuntur asperiores
        temporibus ?""
      </p>
    </div>
    <div class="testimonial-unit">
      <div class="testimonial-name">
        <h5>Name</h5>
        <span>project</span>
      </div>
      <p>
        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis eveniet
        vel ipsum?""
      </p>
    </div>
  </div>
</div>
