$primary-color: #5988ff;
$gradient-bg: linear-gradient(to bottom, #ffffff, #eaf0ff);

.head-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: $gradient-bg;
}

.image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 50%;
  overflow: hidden;

  .portrait {
    width: 150%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
    margin-left: 5%;
  }
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
  background-color: transparent;
}

span {
  color: $primary-color;
  font-weight: 400;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  .letter-spacing {
    letter-spacing: 0.25rem;
  }

  .margin-bottom {
    margin-bottom: 16px;
  }
}

.bubble-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}

.mt-120 {
  height: 120px;
  width: 100%;
  display: block;
  position: relative;
}

.sm-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .vertical-line {
    background-color: $primary-color;
    width: 1px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  .sm-icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 15%;

    a {
      display: inline-block;

      img {
        width: 30px;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateX(-8px);
        }
      }
    }
  }
}

.scroll-down-mobile-container {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  > span {
    transform: rotate(90deg);
    letter-spacing: 2px;
  }
}

@media (max-width: 1000px) {
  h1 {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 900px) {
  .portrait {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .head-container {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .content-container {
    width: 100%;
    padding: 0 16px;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 10;

    h1, h2 {
      color: white;
      position: relative;
    }

    h1 {
      font-size: 72px;
      margin-bottom: -4px !important;
    }

    h2 {
      font-size: 32px;
      margin-bottom: -4px !important;
    }
  }

  .image-container {
    width: 80%;
    justify-content: center;

    .portrait {
      width: 100%;
      height: 100%;
      margin-left: 0;
    }
  }

  .headline {
    width: 100%;
    padding: 0 !important;
    text-align: start;
    display: block !important;

    > h1, h2 {
      width: 100% !important;
    }
  }

  .bubble-header {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  .vertical-line {
    height: 100px;
  }
}

@media (max-width: 600px), (max-height: 450px) {
  .sm-icons {
    gap: 0px;

    a img {
      width: 24px;
    }
  }

  h1 {
    margin-bottom: -20px !important;
  }

  h2 {
    margin-bottom: -16px !important;
  }
}

@media (max-width: 700px), (max-height: 550px) {
  .portrait {
    height: 75%;
  }

  h1 {
    margin-bottom: -8px !important;
  }

  h2 {
    margin-bottom: -8px !important;
  }
}

@media (min-height: 600px) {
  .vertical-line {
    height: 150px;
  }
}

@media (min-height: 768px) {
  .vertical-line {
    height: 140px;
  }
}

@media (min-height: 900px) {
  .vertical-line {
    height: 400px;
  }
}

@media (min-height: 1000px) {
  .vertical-line {
    height: 500px;
  }
}

@media (max-width: 420px) {
  .content-container h1 {
    font-size: 60px !important;
    margin-bottom: -8px !important;
  }

  .content-container h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 350px) {
  .content-container h1 {
    font-size: 52px !important;
    margin-bottom: -14px !important;
  }

  .content-container h2 {
    font-size: 24px !important;
    margin-bottom: -4px !important;
  }
}
