<div class="head-container">

  <div class="image-container">
    <img class="bubble-header" src="/assets/bubble/header-ellipse.png" alt="" />
  </div>
  <div class="content-container">
    <div class="headline">
      <H2>Hello! I am Jana</H2>
      <h1>
        FRONTEND <br />
        DEVELOPER
      </h1>
    </div>
    <span>SCROLL</span>
    <div class="sm-container">
      <div class="vertical-line"></div>
      <div class="sm-icons">
        <a href="https://github.com/janaschueler">
          <img src="/assets/icons/git.svg" alt="icon-github" />
        </a>
        <a href="mailto:janaschuler@protonmail.com">
          <img src="/assets/icons/email.svg" alt="icon sent mail" />
        </a>
        <a href="https://www.linkedin.com/in/jana-sch%C3%BCler-31704667/">
          <img src="/assets/icons/linkedIn.svg" alt="icon-github" />
        </a>
      </div>
    </div>
  </div>
  <img class="portrait" src="/assets/img/jana-schueler.png" alt="" />
</div>
