span {
  color: #5988ff;
  font-weight: 400;
}

.head-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background: linear-gradient(to bottom, #ffffff, #eaf0ff);
}

.image-container {
  width: 45%;
  > img {
    width: 100%;
    object-fit: cover;
    height: auto; // oder z. B. 100vh
  }
}

.content-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.sm-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sm-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 15%;
  > img {
    width: 30px;
  }
}

.vertical-line {
  background-color: #5988ff;
  width: 1px;
  height: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 999;
  width: 400px;
  max-height: 90%;
  object-fit: contain;
  pointer-events: none;
}
