$primary-color: #5988ff;
$gradient-bg: linear-gradient(to bottom, #ffffff, #eaf0ff);

.head-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background: $gradient-bg;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(100%, 1440px);
  height: 100vh;
  margin: 0 auto;
}

.image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 50%;
  overflow: hidden;

  .portrait {
    width: 150%;
    height: auto;
    max-height: 90%;
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
    margin-left: 5%;
  }
}

// .content-container {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 0 32px;
//   background-color: transparent;
//   align-items: space-between;
// }

.content-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  align-items: space-between;
  > div {
    flex: 1;
    max-height: 33.333%;
  }
}

.content-container > .desktop-only,
.content-container > .sm-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.content-container > .headline {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-left: 5%;
}

span {
  color: $primary-color;
  font-weight: 400;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 64px;

  > h1 {
    line-height: 1.1;
  }

  > h1:nth-of-type(1) {
    font-size: clamp(2rem, 10vw, 8rem);
    margin-bottom: -20px !important;
  }

  > h2 {
    word-break: break-word;
    hyphens: auto;
  }
}

.letter-spacing {
  letter-spacing: 0.25rem;
}

.margin-bottom {
  margin-bottom: 16px;
}

.bubble-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}

.bubble-header-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}

.mt-120 {
  height: 80px;
  width: 100%;
  display: block;
  position: relative;
}

.sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  > span {
    margin-bottom: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
  }
}

.line-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.vertical-line {
  width: 2px;
  background-color: $primary-color;
  height: 100%;
  z-index: 1;
}

.sm-icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  padding-right: 16px;

  a {
    display: inline-block;

    img {
      width: 30px;
      transition: transform 125ms ease;

      &:hover {
        transform: translateX(-8px);
      }
    }
  }
}

.scroll-down-mobile-container {
  position: absolute;
  bottom: 16px;
  right: 16px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 60px;
  z-index: 20;

  > span {
    transform: rotate(90deg);
    letter-spacing: 2px;
    font-size: 16px;
  }
}

@media (max-width: 1500px) {
  h2 {
    font-size: 48px !important;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 1000px) {
  h1 {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 900px) {
  .portrait {
    width: 300px;
  }

  h2 {
    font-size: 32px !important;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .content-container {
    width: 100%;
    padding: 0 16px;
    align-items: stretch;
    z-index: 10;

    h1,
    h2 {
      color: white !important;
      position: relative;
    }

    h1 {
      font-size: 72px;
      margin-bottom: -4px !important;
    }

    h2 {
      font-size: 32px;
      margin-bottom: -4px !important;
    }

    .mt-120 {
      height: 120px;
    }
  }

  .headline {
    > h1 {
      font-size: 72px !important
      ;
    }
  }

  .image-container {
    width: 100%;
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;

    .portrait {
      max-height: 100%;
    }
  }

  .headline {
    width: 100%;
    padding: 0 !important;
    text-align: start;
    display: block !important;
    margin-bottom: 0;

    > h1,
    h2 {
      width: 100% !important;
    }
  }

  .bubble-header {
    width: 100%;
    height: auto;
  }
}

@media (max-height: 720px) and (max-width: 768px) {
  .image-container {
    height: 80%;
  }
}

@media (max-height: 620px) and (max-width: 768px) {
  .image-container {
    display: none;
  }
  .mt-120 {
    display: none;
  }
}

@media (max-width: 600px), (max-height: 450px) {
  .sm-icons {
    gap: 0px;

    a img {
      width: 24px;
    }
  }

  h1 {
    margin-bottom: -20px !important;
  }

  h2 {
    margin-bottom: -16px !important;
  }
}

@media (max-width: 700px), (max-height: 550px) {
  .portrait {
    height: 75%;
  }

  h1 {
    margin-bottom: -8px !important;
  }

  h2 {
    margin-bottom: -8px !important;
  }
}

@media (max-width: 420px) {
  .content-container h1 {
    font-size: 60px !important;
    margin-bottom: -8px !important;
  }

  .content-container h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 350px) {
  .content-container h1 {
    font-size: 52px !important;
    margin-bottom: -14px !important;
  }

  .content-container h2 {
    font-size: 24px !important;
    margin-bottom: -4px !important;
  }
}
