@use "../my-work.component.scss" as *;

.content-container {
  padding-right: 8%;
  align-items: flex-end;
  text-align: right;
}

@media (max-width: 550px) {
  .content-container {
    align-items: center;
    text-align: center;
  }
}
