<div class="main-container reverse">
  <div class="content-container">
    <h3>{{ "sharky.title" | translate }}</h3>
    <h4>{{ "sharky.tech" | translate }}</h4>
    <span>{{ "sharky.description" | translate }}</span>
    <div class="button-container">
      <a href="https://sharky.janaschuelerhub.com" target="_blank" rel="noopener noreferrer">
        <button class="btn-blue">{{ "sharky.live" | translate }}</button>
      </a>
      <a href="https://github.com/janaschueler/sharky" target="_blank" rel="noopener noreferrer">
        <button class="btn">Github</button>
      </a>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/img/sharky.png" alt="Sharky game preview" />
  </div>
</div>
