@use "../my-work.component.scss" as *;

.content-container {
  padding-right: 8%;
  align-items: flex-end;
  text-align: right;
}

span {
  font-size: 16px;
  line-height: 1.5rem;
  padding-bottom: 16px;
}

p {
  font-size: clamp(1.5rem, 8vw, 24px) !important;
  color: #5988ff;
}

@media (max-width: 768px) {
  .content-container {
    padding-right: 0;
    align-items: center;
    text-align: center;
  }
}
