<div class="main-container reverse">
  <div class="content-container">
    <h3>Sharky</h3>
    <h4>JavaSkript | HTML | CSS</h4>
    <span
      >"Jump, run, and throw" game based on an object-oriented approach. Help
      Sharky collect coins and potions to fight against the dangerous
      Orca.</span
    >
    <div class="button-container">
      <button class="btn-blue mobile-only">Live test</button>
      <button class="btn ">Github</button>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/img/sharky.png" alt="" />
  </div>
</div>
