.about-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  padding: 120px 64px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  width: min(100%, 1440px);
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.headline-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

h1 {
  font-size: clamp(2rem, 8vw, 128px) !important;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: start;
  white-space: normal;
}

h2 {
  text-align: center;
}

#about {
  scroll-margin-top: -120 !important;
}

.preference-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  padding-right: 32px;
}

.preference-unit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  line-height: 18px;
  img {
    height: 32px;
  }

  span {
    font-size: 14px;
    color: #5988ff;
    padding-left: 8px;
  }
}

.icon,
.travel-img {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 125ms ease;
}

.pin-icon {
  background-image: url("./../../assets/icons/pin.svg");
}

.remote-icon-wrapper {
  width: 32px;
  display: flex;
  justify-content: flex-end;
}

.remote-icon {
  width: 24px;
  height: 24px;
  background-image: url("./../../assets/icons/remote-work.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
  transition: background-image 0.3s ease;
}

.preference-unit:hover {
  .pin-icon {
    background-image: url("./../../assets/icons/pin-hover.svg");
    transform: scale(1.2) translateY(-1%);
    transform-origin: bottom center;
  }

  .remote-icon {
    background-image: url("./../../assets/icons/remote-work-hover.svg");
    transform: scale(1.25);
    transform-origin: bottom right;
  }

  .travel-img {
    transform: rotate(20deg);
    transform-origin: center;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}

.content-text {
  text-align: left;
  margin-bottom: 40px;
}

.ellipse-1 {
  position: absolute;
  top: -100px;
  left: 43%;
  width: 160px;
  z-index: -1;
  pointer-events: none;
}

.ellipse-2 {
  position: absolute;
  top: 20px;
  right: 20%;
  width: 56px;
  z-index: 0;
  pointer-events: none;
}

.no-gap {
  gap: 0px;
}

@media (max-width: 768px) {
  .about-container {
    padding: 120px 0px;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headline-container {
    width: 90%;
    margin: 0 8%;
  }

  h1 {
    font-size: 64px !important;
  }

  h2 {
    font-size: 32px !important;
  }

  .preference-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 32px 20%;
    padding-right: 0px;
  }

  .preference-unit {
    justify-content: flex-start;
    width: 100%;
  }

  .remote-icon-wrapper {
    justify-content: flex-start !important;
  }

  .content-container {
    width: 90%;
    padding-right: 0;
  }

  .ellipse-1 {
    left: 20%;
  }

  .ellipse-2 {
    right: 8%;
  }
}
