<div class="about-container">
  <img
    class="ellipse-1"
    src="/assets/bubble/about-ellipse1.png"
    alt="blue ellipse"
  />
  <img
    class="ellipse-2"
    src="/assets/bubble/about-ellipse2.png"
    alt="blue ellipse"
  />
  <div class="main-container">
    <div class="headline-container">
      <div class="headline-center">
        <h1>Let's work together</h1>
        <h2>I am ...</h2>
      </div>
      <div class="preference-container">
        <div class="preference-unit">
          <img src="/assets/icons/pin.svg" alt="icon suitcase" />
          <span>loction in Münster</span>
        </div>
        <div class="preference-unit">
          <img src="/assets/icons/remote-work.svg" alt="icon laptop and wifi" />
          <span>open to work remote</span>
        </div>
        <div class="preference-unit">
          <img src="/assets/icons/travel.svg" alt="icon suitcase" />
          <span>open to travel</span>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-text">
        <span>
          ... passionate about web development, combining logic and creativity
          to build user-focused solutions.<br /><br />
          I enjoy learning new technologies like Angular and responsive design
          to continuously grow.<br /><br />
          I tackle challenges analytically and thrive in agile, collaborative
          teams.
        </span>
      </div>
      <button class="btn">Send a message</button>
    </div>
  </div>
</div>
