<div id="about" class="about-container">
  <img class="ellipse-1" src="assets/bubble/about-ellipse1.png" alt="blue ellipse" />
  <img class="ellipse-2" src="assets/bubble/about-ellipse2.png" alt="blue ellipse" />

  <div class="main-container" data-aos="fade-up" data-aos-duration="1200">
    <div class="headline-container">
      <div class="headline-center">
        <h1>{{ "about.headline1" | translate }}</h1>
        <h2>{{ "about.headline2" | translate }}</h2>
      </div>

      <div class="preference-container">
        <div class="preference-unit">
          <div class="icon pin-icon"></div>
          <span>{{ "about.location" | translate }}</span>
        </div>
        <div class="preference-unit no-gap">
          <div class="remote-icon-wrapper">
            <div class="remote-icon"></div>
          </div>
          <span>{{ "about.remote" | translate }}</span>
        </div>
        <div class="preference-unit">
          <img class="travel-img" src="assets/icons/travel.svg" alt="icon suitcase" />
          <span>{{ "about.travel" | translate }}</span>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="content-text">
        <span>{{ "about.introText" | translate }}</span>
      </div>
      <a href="#contact" class="btn-container">
        <button class="btn desktop-only">{{ "about.cta" | translate }}</button>
      </a>
    </div>

    <div>
      <a href="#contact" class="btn-container">
        <button class="btn mobile-only">{{ "about.cta" | translate }}</button>
      </a>
    </div>
  </div>
</div>
