.my-work-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 96px;
}

.decorations {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.ellipse-1,
.ellipse-2,
.ellipse-3,
.ellipse-4,
.ellipse-5,
.ellipse-6,
.ellipse-7 {
  position: absolute;
  height: auto;
  pointer-events: none;
  z-index: -10;
}

.ellipse-1 {
  top: 3%;
  left: 44%;
  width: 5%;
}

.ellipse-2 {
  top: 12%;
  left: 80%;
  width: 10%;
}

.ellipse-3 {
  top: 32%;
  left: 0;
  width: 12%;
}

.ellipse-4 {
  top: 48%;
  right: 0;
  width: 24%;
}

.ellipse-5 {
  top: 62%;
  left: 8%;
  width: 4%;
}

.ellipse-6 {
  top: 80%;
  left: 8%;
  width: 16%;
}

.ellipse-7 {
  top: 88%;
  right: 2%;
  width: 2%;
}

.introduction-container {
  position: relative;
  z-index: 1;
  text-align: start;
  max-width: 600px;
  margin-bottom: 16px;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.img-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  > img {
    width: 100%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  &:hover > img {
    transform: scale(1.1) translateY(-8px); // â† nur nach oben bewegen
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

h3,
h4 {
  margin-bottom: 0 !important;
}

.work-sample-container {
  display: flex;
  flex-direction: column;
  width: min(100%, 1440px);
  gap: 96px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1500px) {
  .ellipse-5 {
    top: 72%;
  }
  .ellipse-7 {
    top: 95%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 64px !important;
  }

  .my-work-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .main-container {
    flex-direction: column;
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }

  .img-container {
    width: 100%;
  }

  .content-container {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    > h1 {
      text-align: center;
    }
    > h4 {
      text-align: center;
      font-size: 24px;
    }
    > span {
      text-align: center;
      margin-bottom: 32px;
    }
  }

  .work-sample-container {
    gap: 52px;
  }

  .button-container {
    margin-bottom: 52px;
  }

  .ellipse-1 {
    top: 1%;
    left: 80%;
    width: 48px;
  }

  .ellipse-3 {
    top: 18%;
    left: 0;
    width: 24%;
  }

  .ellipse-4 {
    top: 45%;
    right: 0;
    width: 40%;
  }

  .ellipse-6 {
    top: 57%;
    left: 2%;
    width: 32%;
  }

  .ellipse-7 {
    top: 87%;
    right: -5%;
    width: 12%;
  }
}
