<mat-toolbar>
  <div class="toolbar-content">
    <div class="logo-container">
      <img src="/assets/icons/logo.svg" alt="Logo" />
    </div>
    <div class="nav-container">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Menu icon"
      ></button>
      <a href="#about">About me</a>
      <a href="#skillset">Skill set</a>
      <a href="#work">My work</a>
      <div>
        <a href="#de">DE</a>
        <span>/</span>
        <a href="#en">EN</a>
      </div>
    </div>
  </div>
</mat-toolbar>
