button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    font-weight: bold !important;
  }
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  > img {
    width: 64px;
    height: auto;
  }
}

.nav-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

span {
  color: #5988ff;
  padding: 4px;
  font-weight: 200;
  font-size: 16px;
}

mat-toolbar {
  position: fixed !important;
  background: transparent !important;
  box-shadow: none !important;
  z-index: 1000;
  padding: 0 40px;
  padding-top: 32px;
}
