<mat-sidenav-container class="mobile-nav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-side-nav-content">
    <div class="sidenav-layout">
      <div class="close-container">
        <button class="close-btn" mat-icon-button (click)="sidenav.close()" aria-label="Close navigation"></button>
      </div>

      <div class="mobile-nav-list">
        <a href="#about" (click)="sidenav.close()">{{ "mobileNav.about" | translate }}</a>
        <a href="#skillset" (click)="sidenav.close()">{{ "mobileNav.skillset" | translate }}</a>
        <a href="#work" (click)="sidenav.close()">{{ "mobileNav.work" | translate }}</a>
        <div class="language-switcher">
          <a (click)="switchLanguage('de'); sidenav.close()">DE</a>
          <span>/</span>
          <a (click)="switchLanguage('en'); sidenav.close()">EN</a>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="logo-container">
        <a href="#start"> <img src="assets/icons/logo.svg" alt="Logo" /></a>
      </div>
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Open navigation">
        <img src="assets/icons/burger-menu.png" alt="burger menu" />
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
