.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: auto;
  padding-bottom: 96px;
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
    background: linear-gradient(to bottom, #ffffff, #eaf0ff);
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.content-container {
  width: 50%;
}

.form-container {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blue {
  color: #5988ff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

button.btn:disabled {
  border: solid 1px #cccccc;
  color: #bbbbbb;
  cursor: not-allowed;
  opacity: 0.7;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
  border: solid 1px #5988ff;
  border-radius: 8px !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-input-element {
  padding: 8px !important;
}

::ng-deep .mdc-checkbox__background {
  border-radius: 3px !important;
  border: 2px solid #5988ff !important;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__background {
  background-color: white !important;
  border: 2px solid #5988ff !important;
  transition: all 0.3s ease;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__checkmark-path {
  stroke: #5988ff !important;
  stroke-width: 5px !important;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__mixedmark {
  background-color: #5988ff !important;
}

::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox__checkmark {
  transform: scale(0.75);
}
