.skill-container {
  background: linear-gradient(to bottom right, #5988ff, #5988ff, #0043f0);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 300px;
  padding-bottom: 48px;
  padding-top: 48px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
}

.icon-unit {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s ease;
  cursor: default;
  position: relative; 

  > img.icon {
    height: 75px;
    width: auto;
    transition: transform 0.2s ease;
  }

  > span {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: white;
    font-weight: 200;
    transition: font-weight 0.2s ease;
  }

  &:hover > img.icon {
    transform: translateY(-6px);
  }
  ∂ &:hover > span {
    font-weight: 400;
  }

  .hover-image {
    display: none;
    position: absolute;
    top: -100%;
    left: 137%;
    transform: translateX(-50%);
    z-index: 10;
    width: 200px;
    padding: 5px;
  }

  &:hover .hover-image {
    display: block;
  }
}

h1 {
  color: white !important;
  text-align: center;
  margin-bottom: 64px;
  font-size: 64px !important;
}

@media (max-width: 768px) {
  .icon-container {
    gap: 24px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .icon-unit {
    gap: 8px;
    > img {
      height: 48px;
    }
    > span {
      width: 80px;
      text-align: center;
      font-size: 14px;
    }
  }

  h1 {
    font-size: 64px !important;
  }
}
