<div class="skill-container">
  <h1>Skill set</h1>

  <div class="icon-container">
    <div class="icon-unit">
      <img src="/assets/icons/Angular.svg" alt="" />
      <span>Angular</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/typescript.svg" alt="" />
      <span>TypeScript</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/Javascript.svg" alt="" />
      <span>JavaScript</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/html.svg" alt="" />
      <span>HTML</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/scrum.svg" alt="" />
      <span>SCRUM</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/firebase.svg" alt="" />
      <span>Firebase</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/git-white.svg" alt="" />
      <span>Git</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/css.svg" alt="" />
      <span>CSS</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/rest-api.svg" alt="" />
      <span>REST-API</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/material-dasign.svg" alt="" />
      <span>Material Design</span>
    </div>
    <div class="icon-unit">
      <img src="/assets/icons/growth.svg" alt="" />
      <span>Growth mindset</span>
    </div>
  </div>
</div>
