<div data-aos="fade-down" data-aos-duration="800" id="skillset" class="skill-container">
  <h1>Skill set</h1>

  <div class="icon-container">
    <div class="icon-unit">
      <img class="icon" src="assets/icons/Angular.svg" alt="" />
      <div>Angular</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/typescript.svg" alt="" />
      <div>TypeScript</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/Javascript.svg" alt="" />
      <div>JavaScript</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/html.svg" alt="" />
      <div>HTML</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/scrum.svg" alt="" />
      <div>SCRUM</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/firebase.svg" alt="" />
      <div>Firebase</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/git-white.svg" alt="" />
      <div>Git</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/css.svg" alt="" />
      <div>CSS</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/rest-api.svg" alt="" />
      <div>REST-API</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/material-dasign.svg" alt="" />
      <div>Material Design</div>
    </div>
    <div class="icon-unit">
      <img class="icon" src="assets/icons/growth.svg" alt="" />
      <img class="hover-image" src="assets/img/growth_interest.png" alt="" />
      <div>Growth mindset</div>
    </div>
  </div>
</div>
