<section id="privacy-policy" class="legalPageContainer">
  <img class="bubble-header" src="assets/bubble/header-ellipse.png" alt="" />

  <h1>{{ "legal.section5.title" | translate }}</h1>
  <div class="spanLegalCopy">
    <p>{{ "legal.section5.intro" | translate }}</p>

    <h4>{{ "legal.section5.responsibleEntity" | translate }}</h4>
    <address>
      <p>
        Jana Schüler<br />
        Am Juffernbach 27<br />
        48157 Münster<br />
        <a [href]="mailtoLink">{{ emailAddress }}</a>
      </p>
    </address>

    <h4>{{ "legal.section5.purpose" | translate }}</h4>
    <p>{{ "legal.section5.purposeText" | translate }}</p>

    <h4>{{ "legal.section5.legalBasis" | translate }}</h4>
    <p>{{ "legal.section5.legalBasisText" | translate }}</p>

    <h4>{{ "legal.section5.storage" | translate }}</h4>
    <p>{{ "legal.section5.storageText" | translate }}</p>

    <h4>{{ "legal.section5.rights" | translate }}</h4>
    <p>{{ "legal.section5.rightsText" | translate }}</p>

    <h4>{{ "legal.section5.ssl" | translate }}</h4>
    <p>{{ "legal.section5.sslText" | translate }}</p>

    <h4>{{ "legal.section5.consent" | translate }}</h4>
    <p>{{ "legal.section5.consentText" | translate }}</p>
  </div>

  <div class="spanLegalCopy">
    <p>{{ "legal.lastUpdate" | translate }}</p>
  </div>
</section>
