<section class="legalPageContainer">
  <img class="bubble-header desktop-only" src="assets/bubble/header-ellipse.png" alt="" />

  <h1>{{ "legal.title" | translate }}</h1>
  <h2>{{ "legal.section1.title" | translate }}</h2>

  <div class="spanLegalCopy">
    <ul>
      <li>Jana Schüler</li>
      <li>Am Juffernbach 27</li>
      <li>48157 Münster</li>
      <li>
        <p>
          {{ "legal.email" | translate }}:
          <a [href]="mailtoLink">{{ emailAddress }}</a>
        </p>
      </li>
    </ul>
    <p>{{ "legal.section1.responsible" | translate }}</p>
  </div>

  <h2>{{ "legal.section2.title" | translate }}</h2>
  <div class="spanLegalCopy">
    <p>
      {{ "legal.section2.text" | translate }}
      <a [href]="mailtoLink">{{ emailAddress }}</a>
    </p>
  </div>

  <h2>{{ "legal.section3.title" | translate }}</h2>
  <div class="spanLegalCopy">
    <p>{{ "legal.section3.text" | translate }}</p>
  </div>

  <h2>{{ "legal.section4.title" | translate }}</h2>
  <div class="spanLegalCopy">
    <p>{{ "legal.section4.text" | translate }}</p>
  </div>

  <h2 id="privacy-policy">{{ "legal.section5.title" | translate }}</h2>
  <div class="spanLegalCopy">
    <p>{{ "legal.section5.intro" | translate }}</p>

    <h5>{{ "legal.section5.responsibleEntity" | translate }}</h5>
    <p>
      Jana Schüler<br />
      Am Juffernbach 27<br />
      48157 Münster<br />
      <a [href]="mailtoLink">{{ emailAddress }}</a>
    </p>

    <h5>{{ "legal.section5.purpose" | translate }}</h5>
    <p>{{ "legal.section5.purposeText" | translate }}</p>

    <h5>{{ "legal.section5.legalBasis" | translate }}</h5>
    <p>{{ "legal.section5.legalBasisText" | translate }}</p>

    <h5>{{ "legal.section5.storage" | translate }}</h5>
    <p>{{ "legal.section5.storageText" | translate }}</p>

    <h5>{{ "legal.section5.rights" | translate }}</h5>
    <p>{{ "legal.section5.rightsText" | translate }}</p>

    <h5>{{ "legal.section5.ssl" | translate }}</h5>
    <p>{{ "legal.section5.sslText" | translate }}</p>

    <h5>{{ "legal.section5.consent" | translate }}</h5>
    <p>{{ "legal.section5.consentText" | translate }}</p>
  </div>

  <div class="spanLegalCopy">
    <p>{{ "legal.lastUpdate" | translate }}</p>
  </div>
</section>
