@use "../my-work.component.scss" as *;

.content-container {
  padding-left: 8%;
}

span {
  font-size: 16px;
  line-height: 1.5rem;
  padding-bottom: 16px;
}

p {
  font-size: clamp(1.5rem, 8vw, 24px) !important;
  color: #5988ff;
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 0 !important;
  }
}
