<div data-aos="fade-left" data-aos-duration="800" data-aos-delay="200" class="main-container">
  <div class="img-container">
    <img src="assets/img/pokedex.png" alt="Pokedex Screenshot" />
  </div>
  <div class="content-container">
    <h3>{{ "pokedex.title" | translate }}</h3>
    <p>{{ "pokedex.tech" | translate }}</p>
    <span>{{ "pokedex.description" | translate }}</span>
    <div class="button-container">
      <a href="https://pokedex.janaschuelerhub.com" target="_blank" rel="noopener noreferrer">
        <button class="btn-blue">{{ "pokedex.live" | translate }}</button>
      </a>
      <a href="https://github.com/janaschueler/Pokedex.git" target="_blank" rel="noopener noreferrer">
        <button class="btn">Github</button>
      </a>
    </div>
  </div>
</div>
