<div data-aos="fade-left" data-aos-duration="800" class="main-container">
  <div class="img-container">
    <img src="assets/img/join.png" alt="" />
  </div>
  <div class="content-container">
    <h3>{{ "join.title" | translate }}</h3>
    <p>{{ "join.tech" | translate }}</p>
    <span>{{ "join.description" | translate }}</span>

    <div class="button-container">
      <a href="https://join.janaschuelerhub.com/login.html" target="_blank" rel="noopener noreferrer">
        <button class="btn-blue">{{ "join.live" | translate }}</button>
      </a>
      <a href="https://github.com/janaschueler/join" target="_blank" rel="noopener noreferrer">
        <button class="btn">{{ "join.github" | translate }}</button>
      </a>
    </div>
  </div>
</div>
