<div class="main-container">
  <div class="img-container">
    <img src="assets/img/join.png" alt="" />
  </div>
  <div class="content-container">
    <h3>Join</h3>
    <h4>HTML | CSS | Firebase</h4>
    <span
      >Task manager inspired by the Kanban System. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </span>
    <div class="button-container">
      <button class="btn-blue mobile-only">Live test</button>
      <button class="btn">Github</button>
    </div>
  </div>
</div>
