.app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: white;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent !important;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 2rem;
  margin: 0;
  cursor: pointer;
  &:hover {
    font-weight: bold !important;
  }
  &:active {
    border-bottom: 2px solid #5988ff;
    font-weight: bold;
  }
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 1440px);
  padding: 0 64px;
}

.logo-container {
  display: flex;
  align-items: center;
  > img {
    width: 64px;
    height: auto;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

span {
  color: #5988ff;
  padding: 4px;
  font-weight: 200;
  font-size: 16px;
}

main {
  padding-top: 140px;
}

.active {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .app-header {
    padding: 0 16px;
  }
}

@media (max-height: 800px) {
  .app-header {
    height: 100px !important;
  }

  main {
    padding-top: 100px;
  }
}

@media (max-width: 900px) {
}
a {
  font-size: 18px;
}
