<nav class="app-header">
  <div class="toolbar-content">
    <div class="logo-container">
      <a (click)="navigateToStart()">
        <img src="assets/icons/logo.svg" alt="Logo" />
      </a>
    </div>
    <div class="nav-container">
      <button mat-icon-button class="menu-icon" aria-label="Menu icon"></button>

      <div class="language-switch">
        <a (click)="switchLanguage('de')" [ngClass]="{ active: currentLang === 'de' }">DE</a>
        <span>/</span>
        <a (click)="switchLanguage('en')" [ngClass]="{ active: currentLang === 'en' }">EN</a>
      </div>
    </div>
  </div>
</nav>
