<div class="main-container reverse">
  <div class="content-container">
    <h3>{{ "portfolio.title" | translate }}</h3>
    <h4>{{ "portfolio.tech" | translate }}</h4>
    <span>{{ "portfolio.description" | translate }}</span>
    <div class="button-container right">
      <a href="https://github.com/janaschueler/portfolio.git" target="_blank" rel="noopener noreferrer">
        <button class="btn">Github</button>
      </a>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/img/portfolio.png" alt="portfolio preview" />
  </div>
</div>
