@use "../my-work.component.scss" as *;

.content-container {
  padding-right: 8%;
  align-items: flex-end;
  text-align: right;
}

.right {
  justify-content: flex-end !important;
}

p {
  font-size: clamp(1.5rem, 8vw, 24px) !important;
  color: #5988ff;
}

@media (max-width: 768px) {
  .content-container {
    align-items: center;
    text-align: center;
  }
  .button-container {
    justify-content: flex-end;
  }
}
