#skillset {
  scroll-margin-top: 0; /* Passe die px-Zahl an die tatsächliche Höhe deiner Navbar an */
}

#about {
  scroll-margin-top: 0; /* Passe die px-Zahl an die tatsächliche Höhe deiner Navbar an */
}

#work {
  scroll-margin-top: 0; /* Passe die px-Zahl an die tatsächliche Höhe deiner Navbar an */
}
