.footer-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #5988ff, #5988ff, #0043f0);
  padding-bottom: 96px;
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
}

.distribution-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
  > span {
    font-size: 23px;
  }
  > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 25%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  > a:hover::after {
    opacity: 1;
  }
}

.sm-icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: flex-end;
  > img {
    width: 30px;
    filter: invert(1);
  }
}
