<footer class="footer-container">
  <div class="logo-container">
    <img src="assets/icons/logo.svg" alt="Logo" />
  </div>
  <div class="distribution-container">
    <span>©Jana Schüler 2025</span>
    <a class="desktop-only" href="#legal Notice">Legal Notice</a>
  </div>
  <div class="sm-icons">
    <a href="https://github.com/janaschueler">
      <img src="assets/icons/git_white_footer.svg" alt="icon-github" />
    </a>
    <a href="mailto:janaschuler@protonmail.com">
      <img src="assets/icons/email_white.svg" alt="icon sent mail" />
    </a>
    <a href="https://www.linkedin.com/in/jana-sch%C3%BCler-31704667/">
      <img src="assets/icons/linkedIn_white.svg" alt="icon-github" />
    </a>
  </div>
  <a class="mobile-only" href="#legal Notice">Legal Notice</a>
</footer>
